@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-card {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.text-gradient {
    font-size: 72px;
    background: -webkit-linear-gradient(#797ef6, #1aa7ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-gradient {
    background: linear-gradient(
        to right,
        #797ef6 0%,
        #1aa7ec 100%
    );
}
